* {
    box-sizing: border-box;
    margin: 4px;
    font-family: Consolas, sans-serif;
    background-color: #202020;
    color: #efefef;
}

section {
    margin-bottom: 5px;
}

.special-chars {
    padding: 0;
}

.special-chars button {
    font-size: 1rem;
    margin: 0;
}

h2 {
    margin-bottom: 0;
}

hr {
    border: 1px solid lightslategrey;
}

fieldset {
    width: 280px;
    border: 1px solid steelblue;
    margin-bottom: 8px;
    padding: 4px;
}

input {
    color: whitesmoke;
    background-color: #202020;
    border: 1px solid steelblue;
    padding: 2px;
}

button {
    background-color: slategrey;
    font-size: 1.3rem;
}

a {
    color: steelblue;
}

.listed-cats {
    background-color: black;
    width: min-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

#select-cat, #view-cat, #langkeys {
    width: 280px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 20%;
    width: 60%;
    height: 65%;
    overflow: inherit;
    background-color: #202020;
    border: 2px solid lightslategrey;
}

.modal.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close {
    float: right;
    font-size: 20px;
}

.close:hover,
.close:focus {
    color: steelblue;
    text-decoration: none;
    cursor: pointer;
}

#modal-footer {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 10px;
    margin: 0;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
    margin-bottom: 0;
}

#native-div, #second-div {
    width: 100%;
    height: 220px;
}

#native-testing-div {
    height: 220px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 1.7rem;
    background-color: lightslategrey;
    box-shadow: black 0 10px;
    word-break: break-all;
}

.card.practice, .card.second.testing {
    height: 98%;
}

.card.practice {
    width: 100%;
}

.card.native.testing {
    font-size: 1.2rem;
    height: 90%;
    width: 100%;
}

.score {
    font-size: 1.5rem;
}

#category-table {
    position: relative;
    top: 20px;
    left: 20px;
    width: 88%;
    height: 90%;
    overflow-y: auto;
    display: flex;
    font-size: 0.9rem;
    flex-direction: column;
}

.modal.category table {
    border-collapse: collapse;
}

.modal.category th {
    color: steelblue;
}

.modal.category th, .modal.category td {
    padding: 8px;
    border: 1px solid lightslategrey;
    background-color: #202022;
    text-align: left;
}

@media (max-width: 700px) {
    .card.practice, .card.testing.second {
        font-size: 1.3rem;
    }

    .card.testing.native {
        font-size: 0.9rem;
    }
}