* {
    box-sizing: border-box;
    margin: 4px;
    font-family: Consolas, sans-serif;
    background-color: #202020;
    color: #efefef;
}

section {
    margin-bottom: 10px;
}

.special-chars {
    padding: 0;
}

.special-chars button {
    font-size: 1rem;
    margin: 0;
}

h2 {
    margin-bottom: 0;
}

hr {
    border: 1px solid lightslategrey;
}

fieldset {
    width: 280px;
    border: 1px solid steelblue;
    margin-bottom: 8px;
    padding: 4px;
}

input {
    background-color: whitesmoke;
    color: #202020;
}

button {
    background-color: slategrey;
    font-size: 1.3rem;
}

a {
    color: steelblue;
}

.listed-sets {
    background-color: black;
    width: min-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

#modal-window {
    width: 280px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 15%;
    width: 60%;
    height: 60%;
    overflow: auto;
    background-color: #202020;
    border: 2px solid lightslategrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close {
    float: right;
    font-size: 20px;
}

.close:hover,
.close:focus {
    color: steelblue;
    text-decoration: none;
    cursor: pointer;
}

.cards {
    display: flex;
    margin: auto;
    gap: 40px;
}

.word-div {
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 2rem;
    background-color: lightslategrey;
    box-shadow: black 0 10px;
}